body {
  font-family: Roboto, sans-serif;
  color: #757575;
  line-height: 1.17;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
a {
  color: #212121;
  text-decoration: none;
}
header {
  border-bottom: 1px solid #ececec;
}
.contact-header {
  color: #757575;
}
header li a:hover,
header li a:focus,
.active {
  color: #2196f3;
}
.address-footer li a:hover,
.address-footer li a:focus {
  color: #2196f3;
}
.logo,
.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: #000;
}

.logo-footer {
  color: #ffffff;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.logo span,
.logo-footer span {
  color: #2196f3;
}
header ul li {
  font-weight: 500;
}
.cap {
  background-color: #2f303a;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 200px 200px;
}
.cap h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}
.cap .btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 216px;
  margin-top: 30px;
}

.feature h3 {
  font-size: 14px;
  font-weight: 700;
  color: #212121;
}
.feature p {
  line-height: 1.71;
  margin-top: 10px;
}
.feature li {
  width: 270px;
}
.feature h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature ul {
  display: flex;
  gap: 30px;
}

.about .conteiner {
  padding-top: 0;
}
.about ul {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.about h2 {
  font-weight: 700;
  font-size: 36px;
  color: #212121;
  text-align: center;
}
.team {
  background-color: #f5f4fa;
}
.team ul {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.team h2 {
  font-weight: 700;
  font-size: 36px;
  color: #212121;
  text-align: center;
}
.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: #212121;
}
.team li {
  width: 270px;

  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item {
  padding-top: 30px;
  padding-bottom: 30px;
}
footer {
  background-color: #2f303a;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-footer {
  color: #fff;
  font-style: normal;
  line-height: 1.71;
  margin-top: 20px;
}
.address-footer p {
  margin-bottom: 9px;
}
.address-footer li:first-of-type {
  margin-bottom: 9px;
}

.contact-footer {
  color: #ffffff99;
}
.projects .btn {
  background-color: #f5f4fa;
  cursor: pointer;
  font-family: inherit;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
}
button.btn.first {
  margin-left: 0;
}
.projects .btn:hover,
.projects .btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.projects-btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  gap: 8px;
  justify-content: center;
}
.our-projects {
  display: flex;
  flex-wrap: wrap;

  margin-top: -30px;
  margin-left: -30px;
}
.our-projects-item {
  padding: 20px;
}
.our-projects-item h3 {
  margin-bottom: 4px;
}
.our-projects li {
  box-sizing: border-box;
  flex-basis: calc(100% / 3 - 30px);
  border: 1px solid #eeeeee;
  margin-top: 30px;
  margin-left: 30px;
}
.our-projects h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: #212121;
  letter-spacing: 0.06em;
}
.our-projects p {
  line-height: 1.875;
}
.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
}
.conteiner-nav {
  display: flex;

  gap: 50px;
}
.conteiner-nav-address {
  display: flex;
  gap: 30px;
  margin-left: auto;
}
.header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 93px;
}
